@charset "utf-8";
body, html, h1, h2, h3, h4, h5, p, div, span, a, ul, li {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

body, html {
    width: 100%;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.notice {
    padding: 23px 0;
    background: #222;
    text-align: center;
    line-height: 1;
}

.notice a {
    font-size: 14px;
    color: #A3A3A3CC;
}

/* header */
.header {
    position: absolute;
    width: 100%;
    top: 75px;
    left: 0;
}

.header-inner {
    width: 990px;
    margin: 0 auto;
    background: transparent;
}

.logo {
    display: inline-block;
    width: 116px;
    height: 30px;
    background: url(./image/logo.png) no-repeat;
    background-size: contain;
}

.gnb-wrap {
    display: flex;
}

.gnb {
    color: #fff;
}

.gnb li {
    display: inline-flex;
    padding: 0 10px;
}

/* main */
.main-img {
    width: 100%;
    
}