@charset "utf-8";
body, html, h1, h2, h3, h4, h5, p, div, span, a, ul, li {
    margin: 0;
    padding: 0;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
}

body, html {
    width: 100%;
}

body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.notice {
    position: absolute;
    width: 100%;
    padding: 23px 0;
    background: #222;
    text-align: center;
    line-height: 1;
}

.notice a {
    font-size: 14px;
    font-weight: 600;
    color: #A3A3A3CC;
    text-decoration: underline;
}

/* header */
.header {
    position: absolute;
    width: 100%;
    top: 63px;
    left: 0;
}

.header-inner {
    width: 90%;
    margin: 0 auto;
    background: transparent;
}

.logo {
    display: inline-block;
    width: 116px;
    height: 30px;
    background: url(./image/logo.png) no-repeat;
    background-size: contain;
}

.gnb-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
}

.gnb {
    font-size: 15px;
}

.gnb a {
    color: #fff;
}

.gnb li {
    display: inline-flex;
    padding: 0 10px;
}

.my a {
    color: #fff;
    font-size: 15px;
}

.my {
    display: inline-flex;
    align-items: center;
}

.my li ~ li {
    margin-left: 10px;
}

.profile {
    /* padding: 10px; */
    background: #fff;
    border-radius: 20px;
}

.profile a {
    display: inline-flex;
    padding: 10px;
    color: #717171;
    text-align: center;
    align-items: center;
}

i.fas.fa-bars {
    margin-right: 7px;
}

.profile a i {
    font-size: 20px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px 0 30px;
    width: 80%;
    height: 64px;
    border-radius: 32px;
    background: #fff;
    box-sizing: border-box;
}

.search-menu {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-menu label {
    font-size: 12px;
    font-weight: 700;
}

.search-menu input {
    font-size: 14px;
    color: #656565;
    border: none;
    padding: 0;
}

.search-menu ~ .search-menu:before {
    content: "";
    position: absolute;
    left: -28px;
    width: 1px;
    height: 30px;
    background: #ddd;
}

.search-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
    background: #FF385D;
}

/* main */
/* .main {
    background-image: url(./image/main.jpg);
} */
.main-img {
    width: 100%;
}

.main-txt {
    color: #222;
    font-size: 18px;
    text-align: center;
}
